---
import Layout from "../Layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
---
<Layout>
    <div>
        <h2 class="text-center text-[#5ccfe6] block w-fit m-auto text-[2rem]">Experiencia</h2>
        <p class="block max-w-prose m-auto my-[1rem] text-slate-300 leading-loose tracking-normal bg-gray-900 p-[1rem] rounded-xl">He trabajado como practicante en el área de IT del Tribunal Supremo Electoral (TSE) y he adquirido conocimientos de manera autodidacta en el área de desarrollo web. Aunque soy un desarrollador web junior, no he tenido la oportunidad de trabajar en una empresa donde pueda aplicar mis conocimientos de desarrollo web.</p>
        <h2 class="text-center text-[#5ccfe6] block w-fit m-auto text-[2rem]">Habilidades</h2>
        <p class="block max-w-prose m-auto my-[1rem] text-slate-300 leading-loose tracking-normal bg-gray-900 p-[1rem] rounded-xl">Tengo un conocimiento muy sólido en las bases del desarrollo web: HTML, CSS y JavaScript, lo que me permite crear sitios web estáticos con facilidad y buen diseño. Sé usar Node.js con Express para crear un backend, y puedo trabajar con React, TypeScript y frameworks como Tailwind y Astro. En mi universidad he aprendido C++, lo que me ha permitido manejar programación orientada a objetos tanto en C++ como en JavaScript. Esta página está hecha con Astro, Tailwind y TypeScript.</p>
        <h2 class="text-center text-[#5ccfe6] block w-fit m-auto text-[2rem]">Herramientas</h2>
        <p class="block max-w-prose m-auto my-[1rem] text-slate-300 leading-loose tracking-normal bg-gray-900 p-[1rem] rounded-xl">Mi sistema operativo es Linux Mint XFCE. Uso GIT para el control de versiones de mis proyectos y GitHub para alojarlos y desplegar páginas estáticas. Tengo varios IDEs para escribir código, como Visual Studio Code, Cursor y Windsurf, siendo Visual Studio Code mi favorito. También tengo conocimientos básicos de Docker, pero al no dominarlo completamente, no lo incluyo como una herramienta que domine.</p>
    </div>
    <Footer></Footer>
</Layout>
