---
import Layout from "../Layouts/Layout.astro"
import Footer from "../components/Footer.astro";
import "../styles/global.css";
---

<Layout>
    <main class="h-full">
        <div class="flex min-h-[70dvh] flex-col md:flex-row">
            <div class="flex-1 relative min-h-56">
                <div class="rounded-full overflow-hidden md:w-[clamp(10rem,100%,21rem)] md:h-[21rem] grid place-content-center absolute top-1/2 left-1/2 transform-[translate(-50%,-50%)] w-40 h-40 md:transform-[translate(-50%,-30%)]">
                    <img src="/mi-portfolio/src/images/foto-perfil(pequeña).jpg" alt="foto-personal" class="object-contain w-[15rem] md:w-[40rem]" />
                </div>
            </div>
            <div class="flex-1 flex flex-col text-[1.5rem] md:pr-10">
                <div class="flex-1 flex flex-col justify-center items-center md:justify-end md:items-center">
                    <h1 class="w-fit text-[#5ccfe6]">SOBRE MI</h1>
                    <p class="w-fit text-center text-slate-300">Victor Abdias Joel Argueta Gonzales</p>
                </div>
                <div class="flex-1 flex flex-col justify-center">
                    <div class="flex justify-center items-center flex-col">
                        <h2 class="text-center text-[#5ccfe6]">Desarrollador web frontend</h2>
                        <p class="text-center text-slate-300">Desarrollador frontend especializado en crear experiencias web fluidas y accesibles</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <Footer></Footer>
</Layout>