---
import Layout from "../Layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
import Footer from "../components/Footer.astro";
import Tecnology from "../components/Tecnology.astro";
import "../styles/global.css";
---
<Layout>
    <h2 class="text-center mt-[1rem] text-[2rem]">Proyectos</h2>
    <section class="grid grid-cols-[repeat(auto-fill,minmax(20rem,1fr))] gap-[1rem] p-[1rem]">     
        <ProjectCard
        title="Chat en tiempo real (Prototipo)"
        description="un prototipo de una aplicacion de chat en tiempo real, una manera de visualizar como quedaria un chat en tiempo real que puede mejorarse para crear uno real donde se puedan mandar y recibir mensajes"
        image="/src/images/PROJECT-CHAT.jpg"
        alt="chat"
        link="https://joelitorepos.github.io/Chat-realtime/"
        >
        <div class="text-[#ddd]">
            <span>Tecnologias:</span>
            <div class="inline-flex w-fit h-fit justify-start gap-[1rem] p-[1rem]">
                <div class="h-[2rem] w-[2rem]">
                    <Tecnology
                        image="/src/images/html.webp"
                        alt="html icon"
                    />
                </div>
                <div class="h-[2rem] w-[2rem]">
                    <Tecnology
                        image="/src/images/css-icon.webp"
                        alt="css icon"
                    />
                </div>
                <div class="h-[2rem] w-[2rem]">
                    <Tecnology
                        image="/src/images/js.png"
                        alt="javascript icon"
                />
                </div>
            </div>
        </div>
        </ProjectCard>
        <ProjectCard
            title="Programa de calculo"
            description="Programa para automatizacion de de un calculo relacionado con ventas"
            image="/src/images/PROJECT-PROYECCION.jpg"
            alt="peliculas"
            link="https://joelitorepos.github.io/proyeccion/"
        >
        <div class="text-[#ddd]">
            <span>Tecnologias:</span>
            <div class="inline-flex w-fit h-fit justify-start gap-[1rem] p-[1rem]">
                <div class="h-[2rem] w-[2rem]">
                    <Tecnology
                        image="/src/images/html.webp"
                        alt="html icon"
                    />
                </div>
                <div class="h-[2rem] w-[2rem]">
                    <Tecnology
                        image="/src/images/css-icon.webp"
                        alt="css icon"
                    />
                </div>
                <div class="h-[2rem] w-[2rem]">
                    <Tecnology
                        image="/src/images/js.png"
                        alt="javascript icon"
                />
                </div>
            </div>
        </div>
        </ProjectCard>
        <ProjectCard
            title="Curso para aprender a crear una API"
            description="un curso donde enseño lo necesario de JavaScript para poder crear una API con node.js y express"
            image="/src/images/PROJECT-CURSO.jpg"
            alt="curso-API"
            link="https://joelitorepos.github.io/curso-para-API/"
        >
        <div class="text-[#ddd]">
            <span>Tecnologias:</span>
            <div class="inline-flex w-fit h-fit justify-start gap-[1rem] p-[1rem]">
                <div class="h-[2rem] w-[2rem]">
                    <Tecnology
                        image="/src/images/html.webp"
                        alt="html icon"
                    />
                </div>
                <div class="h-[2rem] w-[2rem]">
                    <Tecnology
                        image="/src/images/css-icon.webp"
                        alt="css icon"
                    />
                </div>
            </div>
        </div>
        </ProjectCard>
        <ProjectCard
            title="Portafolio personal"
            description="portafolio para mostrar proyectos y puedan conocer mejor mis habilidades"
            image="/src/images/PROJECT-PORTFOLIO.jpg"
            alt="portafolio"
            link="https://joelitorepos.github.io/portafolio/"
        >
        <div class="text-[#ddd]">
            <span>Tecnologias:</span>
            <div class="inline-flex w-fit h-fit justify-start gap-[1rem] p-[1rem]">
                <div class="h-[2rem] w-[2rem]">
                    <Tecnology
                        image="/src/images/html.webp"
                        alt="html icon"
                    />
                </div>
                <div class="h-[2rem] w-[2rem]">
                    <Tecnology
                        image="/src/images/css-icon.webp"
                        alt="css icon"
                    />
                </div>
                <div class="h-[2rem] w-[2rem]">
                    <Tecnology
                        image="/src/images/js.png"
                        alt="javascript icon"
                />
                </div>
            </div>
        </div>
        </ProjectCard>
    </section>
    <h2 class="text-center text-[2rem]">Tecnologias</h2>
    <section class="flex w-full h-[13rem] justify-center gap-[1rem] p-[1rem]">
        <div class="h-[10rem] w-[9rem]">
            <Tecnology
                image="/src/images/html.webp"
                alt="html icon"
            />
        </div>
        <div class="h-[10rem] w-[9rem]">
            <Tecnology
                image="/src/images/css-icon.webp"
                alt="css icon"
            />
        </div>
        <div class="h-[10rem] w-[9rem]">
            <Tecnology
                image="/src/images/js.png"
                alt="javascript icon"
        />
        </div>
        <div class="h-[10rem] w-[9rem]">
            <Tecnology
                image="/src/images/react-icon.png"
                alt="react icon"
        />
        </div>
        <div class="h-[10rem] w-[9rem]">
            <Tecnology
                image="/src/images/tailwind-icon.png"
                alt="tailwind icon"
        />
        </div>
        <div class="h-[10rem] w-[9rem]">
            <Tecnology
                image="/src/images/astro-icon.png"
                alt="astro icon"
        />
        </div>
        <div class="h-[10rem] w-[9rem]">
            <Tecnology
                image="/src/images/typescript-icon.png"
                alt="typescript icon"
        />
        </div>
        <div class="h-[10rem] w-[9rem]">
            <Tecnology
                image="/src/images/node-icon.png"
                alt="nodejs icon"
        />
        </div>
    </section>
    <h2 class="text-center text-[2rem]">Herramientas</h2>
    <section class="flex w-full h-[13rem] justify-center gap-[1rem] p-[1rem]">
        <div class="h-[10rem] w-[9rem]">
            <Tecnology
                image="/src/images/linux-icon.png"
                alt="linux icon"
            />
        </div>
        <div class="h-[10rem] w-[9rem]">
            <Tecnology
                image="/src/images/git.webp"
                alt="git icon"
            />
        </div>
        <div class="h-[10rem] w-[9rem]">
            <Tecnology
                image="/src/images/github-icon.webp"
                alt="github icon"
        />
        </div>
        <div class="h-[10rem] w-[9rem]">
            <Tecnology
                image="/src/images/vscode-icon.png"
                alt="visual studio code icon"
        />
        </div>
    </section>
    <div class="bg-gray-900 m-[2rem] p-[1rem] text-center text-[#48e]">
        hay mas proyectos que por ser aplicaciones de React o node no he desplegado ya que despliego mis paginas estaticas con github pages
    </div>
    <Footer></Footer>
</Layout>
