<footer class="h-[16dvh] bg-[#12122b] sticky top-[100%] w-full">
    <nav class="h-full">
        <ul class="flex h-full text-x1">
            <li class="flex-1 cursor-pointer border-[#48e]  hover:border-b-6 transition-all delay-75 overflow-hidden relative">
                <a class="text-center grid place-content-center h-[calc(100%_+_2rem)] w-[calc(100%_+_5rem)] hover:shadow-[inset_0_-40px_30px_#48e3,inset_0_-20px_24px_#48e1] transition-all delay-75 absolute top-1/2 left-1/2 transform-[translate(-50%,-50%)]" href="/">
                    <div>Inicio</div>
                </a>
            </li>
            <li class="flex-1 cursor-pointer border-[#48e] hover:border-b-6 transition-all delay-75 overflow-hidden relative">
                <a class="text-center grid place-content-center h-[calc(100%_+_2rem)] w-[calc(100%_+_5rem)] hover:shadow-[inset_0_-40px_30px_#48e3,inset_0_-20px_24px_#48e1] transition-all delay-75 absolute top-1/2 left-1/2 transform-[translate(-50%,-50%)]" href="/projects">
                    <div>Proyectos</div>
                </a>
            </li>
            <li class="flex-1 cursor-pointer border-[#48e] hover:border-b-6 transition-all delay-75 overflow-hidden relative">
                <a class="text-center grid place-content-center h-[calc(100%_+_2rem)] w-[calc(100%_+_5rem)] hover:shadow-[inset_0_-40px_30px_#48e3,inset_0_-20px_24px_#48e1] transition-all delay-75 absolute top-1/2 left-1/2 transform-[translate(-50%,-50%)]" href="/about">
                    <div>Sobre mi</div>
                </a>
            </li>
            <li class="flex-1 cursor-pointer border-[#48e] hover:border-b-6 transition-all delay-75 overflow-hidden relative">
                <a class="text-center grid place-content-center h-[calc(100%_+_2rem)] w-[calc(100%_+_5rem)] hover:shadow-[inset_0_-40px_30px_#48e3,inset_0_-20px_24px_#48e1] transition-all delay-75 absolute top-1/2 left-1/2 transform-[translate(-50%,-50%)]" href="/contact">
                    <div>Contacto</div>
                </a>
            </li>
        </ul>
    </nav>
<footer/>